@using System.Security.Claims
@using Microsoft.Owin.Security
﻿@using System.Security.Claims
@{
    IAuthenticationManager authentication = Context.GetOwinContext().Authentication;
    AuthenticateResult ticket = authentication.AuthenticateAsync("Application").Result;
    ClaimsIdentity identity = ticket != null ? ticket.Identity : null;
    string[] scopes = (Request.QueryString.Get("scope") ?? "").Split(' ');
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Authorize</title>
    </head>
    <body>
        <h1>Authorization Server</h1>
        <h2>OAuth2 Authorize</h2>
        <form method="POST">
            <p>Hello, @identity.Name</p>
            <p>A third party application want to do the following on your behalf:</p>
            <ul>
                @foreach (string scope in scopes)
                {
                    <li>@scope</li>
                }
            </ul>
            <p>
                <input type="submit" name="submit.Grant" value="Grant" />
                <input type="submit" name="submit.Login" value="Sign in as different user" />
            </p>
        </form>
    </body>
</html>